:root {
    --background-color: #060000;
    --text-color: #f2eeee;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    cursor: default;
    user-select: none;
}

input[type=text] {
    font-family: monospace;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    width: 10ex;
}

input[type=text]:disabled {
    caret-color: transparent;
}

[contenteditable] {
    width: fit-content;
    min-width: 3ch;
    outline: none;
    text-decoration: none;
}

[contenteditable]:empty:before {
    content: attr(data-placeholder);
    opacity: 75%;
    cursor: text;
}

.timer-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.timer-button img {
    height: 1em;
}

.timer-controls {
    user-select: none;
}

.timers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.timers-container * {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1.2em;
}

.timer-title {
    font-size: 3em;
}

.timer-display {
    font-size: 5em;
}

.timer-audio {
    display: none;
}