<div class="timer-container">
    <span class="timer-title" contenteditable data-placeholder="Title">New Timer</span><br />
    <label>
        <input type="text"
               class="timer-display"
               contenteditable
               size="8"
               spellcheck="false"
               placeholder="00:00:00"
               value="00:00:00"/>
    </label>
    <div class="timer-controls">
        <button class="timer-button timer-start">
            <img src="assets/play.svg" alt="play">
        </button>
        <button class="timer-button timer-stop">
            <img src="assets/pause.svg" alt="pause">
        </button>
        <button class="timer-button timer-reset">
            <img src="assets/stop.svg" alt="reset">
        </button>
    </div>
    <div class="timer-controls">
        <button class="timer-button timer-delete">
            <img src="assets/remove.svg" alt="remove">
        </button>
    </div>
</div>